* {
  margin: 0;
  padding: 0;
}
.container {
  width: 50%;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(170, 170, 170);
  border-radius: 25px;
}
.container-title {
  text-align: center;
  padding: 30px;
}
.input-wrap {
  display: flex;
  justify-content: center;
}
.input-text {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.input-btn {
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.input-btn:hover {
  background-color: black;
  color: white;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}
.repo-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 250px;
}
.repo-list-item {
  background-color: black;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 5px;
}
.repo-list-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.ProfileCard-title {
  color: #eeeeee;
  width: 100%;
  text-align: center;
  font-size: 22px;
}
.ProfileCard-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.ProfileCard-container {
  width: 300px;
  height: 250px;
  background-color: #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}
